.list-view {
    -fx-background-color: #12121200;
    -fx-control-inner-background: #12121200;
    -fx-border-color: #2a2a2a00;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
}
.list-view,
.list-view:focused,
.list-cell:focused,
.list-cell:filled:focused,
.list-cell:filled:selected:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/**************************/
/* Estilo para scrollbar */
/************************/
.list-view .scroll-bar:vertical, .list-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.list-view .thumb {
    -fx-background-color: #444;
    -fx-background-radius: 4px;
}
.list-view .thumb:hover {
    -fx-background-color: #666;
}

/**************************/
/*Estilo de celda */
/**************************/

.list-cell > HBox, .list-cell > VBox {
	-fx-padding: 10px 15px;
    -fx-background-color: #99999915;
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-font-size: 14px;
	-fx-background-radius: 10px;
}


.list-cell > HBox:hover, .list-cell > VBox:hover {
	-fx-backgrou0nd-color: #00000038;
    -fx-cursor: hand;
}

.list-cell::selected > HBox, .list-cell::selected > VBox {
    -fx-background-color: #00000050;
}

.list-cell Text {
	-fx-alignment: center;
    -fx-text-alignment: center;
}