.nv-left-container {
	-fx-alignment: top-center;
	-fx-background-size: 100;
	-fx-padding: 20px 20px;
}

.navbar {
    -fx-border-color: black;
    -fx-border-width: 5px; 
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: lightgray;
	-fx-padding: 10px 5px;
	-fx-spacing: 20;
}

.btn-nav {
	-fx-background-color: #ff000000;
	-fx-opacity: 0.7;
}

.btn-nav-active {
	-fx-opacity: 1;
}